@import "tailwindcss";

@theme inline {
  --color-on-secondary: #5c1900;
  --color-surface-container-low: #1a1a2e;
  --color-on-error-container: #ffdad6;
  --color-background: #111125;
  --color-outline: #aa897f;
  --color-secondary-fixed: #ffdbcf;
  --color-surface-dim: #111125;
  --color-on-primary-fixed: #390c00;
  --color-on-surface: #e2e0fc;
  --color-on-secondary-container: #ff9b78;
  --color-on-primary-container: #511500;
  --color-outline-variant: #5b4138;
  --color-on-primary: #5c1900;
  --color-inverse-on-surface: #2f2e43;
  --color-on-secondary-fixed-variant: #7c2e0f;
  --color-primary-fixed: #ffdbcf;
  --color-error: #ffb4ab;
  --color-on-primary-fixed-variant: #822800;
  --color-primary: #ffb59c;
  --color-on-tertiary-fixed: #001c3b;
  --color-surface-bright: #37374d;
  --color-secondary-fixed-dim: #ffb59c;
  --color-inverse-primary: #aa3600;
  --color-on-tertiary: #00315f;
  --color-on-tertiary-container: #002a54;
  --color-primary-container: #fa5c1b;
  --color-error-container: #93000a;
  --color-surface: #111125;
  --color-inverse-surface: #e2e0fc;
  --color-secondary-container: #7c2e0f;
  --color-on-surface-variant: #e3bfb3;
  --color-on-background: #e2e0fc;
  --color-tertiary-container: #2b91ff;
  --color-surface-container: #1e1e32;
  --color-on-secondary-fixed: #390c00;
  --color-tertiary-fixed: #d5e3ff;
  --color-surface-tint: #ffb59c;
  --color-primary-fixed-dim: #ffb59c;
  --color-on-tertiary-fixed-variant: #004787;
  --color-surface-container-lowest: #0c0c1f;
  --color-tertiary-fixed-dim: #a6c8ff;
  --color-on-error: #690005;
  --color-surface-variant: #333348;
  --color-surface-container-highest: #333348;
  --color-secondary: #ffb59c;
  --color-surface-container-high: #28283d;
  --color-tertiary: #a6c8ff;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.glass-panel {
  background: rgba(51, 51, 72, 0.6);
  backdrop-filter: blur(20px);
}

.glow-orange {
  box-shadow: 0 0 24px rgba(232, 80, 10, 0.15);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  background-color: #111125;
  color: #e2e0fc;
  font-family: "Inter", sans-serif;
}
