node_modules
.env
.env.*

# compiled output
dist/
build/

# typescript
*.tsbuildinfo

# prisma generated
/src/generated/prisma

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
dist